<!DOCTYPE html>
<html>
<head>
	<title>Update Age</title>
</head>
<body>
	<h1>Update Age</h1>
	
	<form action="/update/age" method="POST">
	<h2>Name </h2>
    <input type="text" name="name_search" placeholder="Name">
    <h3>New Age</h3>
    <input type="text" name="new_age" placeholder="New Age">
    <button type="submit">Save</button>
  	</form>

</body>
</html>