.octopus{
   position: absolute;
   top: 50%;
   left: 50%;
   width: 500px;
   height: 500px;
   margin-top: -250px; 
   margin-left: -150px;
}

.glasses{
   position: absolute;
   top: 63%;
   left: 53%;
   width: 500px;
   height: 500px;
   margin-top: -250px; 
   margin-left: -150px;
	z-index: 0;
}

.hat{
   position: absolute;
   top: 40%;
   left: 49%;
   width: 500px;
   height: 500px;
   margin-top: -250px; 
   margin-left: -150px;
   z-index: 1;
}